.liveButton {
  color: #ecf0f1;
  font-size: 17px;
  background-color: var(--color-primary);
  border: 1px solid #079587;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #01574e;

  transition: all 0.1s;
}

.liveButton:hover {
  box-shadow: 0px 2px 0px #079587;
  position: relative;
  top: 2px;
}

.githubButton {
  color: gray;
  font-size: 17px;
  background-color: #dafff7;
  border-radius: 5px;
  border: 1px solid #0affe6c9;

  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #788ba6;
  transition: all 0.1s;
}

.githubButton:hover {
  box-shadow: 0px 2px 0px #1a1e23;
  position: relative;
  top: 2px;
}
